### use # to comment out the configure item

### I/O ###
train_dir=D:/YATO/orginal/NCRFpp-dev/sample_data/ner.train.bmes
dev_dir=D:/YATO/orginal/NCRFpp-dev/sample_data/ner.dev.bmes
test_dir=D:/YATO/orginal/NCRFpp-dev/sample_data/ner.test.bmes
model_dir=D:/YATO/test/

dset_dir=bert_base_cased.dset

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=False
char_seq_feature=CNN
use_word_seq=False
use_word_emb=True
word_seq_feature=LSTM
low_level_transformer=None
low_level_transformer_finetune=False
high_level_transformer=D:/YATO/YATO/bert-base-cased
high_level_transformer_finetune=True

###TrainingSetting###
status=train
optimizer=AdamW
iteration=10
batch_size=16
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=768
dropout=0.3
lstm_layer=2
bilstm=True
learning_rate=3e-5
gpu=False
device=cpu
scheduler=get_cosine_schedule_with_warmup
warmup_step_rate=0.05
#clip=