### Decode ###
status=decode
nbest=0
raw_dir=/home/zqwang/YATO-Github/sample_data/ner.test.bmes
decode_dir=/home/zqwang/YATO-Github/sample_data/test.decode
load_model_dir=/data_8t/YATO_MODEL/acc0.9634_p0.7758_r0.7601_f0.7679.pth
sentence_classification=False
dset_dir=/data_8t/YATO_MODEL/bert_base_sample.dset
gpu=True
device=cuda:1